body {
    background-image: url(IMG/Hiker-on-Trolltunga-Norway-iStock_000059053434_Large-2-1.jpeg);
    background-size: cover;
    
} 


.Mifooter{

background-color: rgb(220, 220, 220)

}
.col{
    font-size: 35px;
}
.Titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: black;
    
}
.Fondo-titulo{
    border-radius: 20%;
    background: linear-gradient(to top left, #33ccff 0%, #0066cc 100%);
    opacity: 80%;
    border: solid 5px;
}

.row{
    padding: 25px;
}

.Pregunta {
    font-size: 50px;
}

.btn{
    transition: all .15s ease-in;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);

}
.btn:hover{
    transition: all .25s ease-out;
    background: linear-gradient(to bottom, #000066 0%, #0066cc 100%);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,5);
}
.custom-column{
    height: 300px;
}
#PreguntaAnterior:hover {
    transition: all .25s ease-out;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
    
}

#SiguientePregunta:hover{
    transition: all .25s ease-out;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,5);
    
}

    /* Media query para pantallas más pequeñas */

    @media (max-width: 768px) {
    /* Estilos para los botones */
    .btn {
        font-size: 14px; /* Tamaño de fuente más pequeño */
        padding: 5px 10px; /* Padding más pequeño */
    }

    .Pregunta{
        font-size: 30px;
      
   }
     .Mifooter{
    font-size: 12px;
     }
    
     #PreguntaAnterior {

        font-size: 12px;
    }

    #SiguientePregunta{
        font-size: 12px;
    }
      }


